*{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

p, a, span, h1, h2, h3, h4, h5, h6{

  font-family: 'Roboto';

}

.title{

  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(10, 0, 40);
  
  margin: 5% 0;
  
  }

.socials{

display: flex;
justify-content: space-evenly;

}

.card-social-img{

  height: 2.5rem;
  width: 2.5rem;
  margin-top: 1rem;
  
  }

/* navigation bar vv */
header{

height: 5rem;
width: 100%;

background-color: #FFFF;
box-shadow: 0 1px 5px -1.5px rgb(0, 0, 0);

position: static;
display: grid;
grid-template-columns: 20% 40% 40%;
justify-content: center;

z-index: 1;

}
  
  .logo{
    
  height: 100%;
  align-content: center;
  text-align: end;

  }
  
  .web {
  
  font-family: 'Raleway';  
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 1px;
  color: #4D5AE5;
  
  }
  
  .studio {
  
  font-family: 'Raleway';  
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 1px;
  color: #2E2F42;
  
  }
  
  .navMenu{

  margin-left: 3rem;

  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2rem;

  justify-content: start;
  align-items: start;
  text-align: center;

}

.link{

  font-size: 1.1rem;
  font-weight: bold;
  
  height: 100%;
  width: auto;
  margin-top: 2rem;

  color: #2E2F42;

  }

._{

height: .3rem;
margin-top: 1rem;
border-radius: 5rem;
background-color: #4D5AE5;

opacity: 0;

}

.link:nth-of-type(2),._:nth-of-type(2){

  color: #4D5AE5;
  opacity: 100%;

}

.link:hover{
  color: #4D5AE5;
}
  
  .contacts{
    
    margin: 0 .5rem;

    font-size: 1rem;
    font-weight: medium;
    color: #434455;

    align-content: center;
    text-align: center;

    }


/* navigation bar ^^ */

/* Filter*/

.filter{

height: 5rem;
width: 100%;
margin: 5% 0;
top: 5px;

position: static;
display: flex;
column-gap: 20px;
justify-content: center;
align-items: center;

}

.filterBTN{

height: auto;
width: auto;
padding: 1% 2%;

border: solid 1px #E7E9FC;
border-radius: 5%;

font-size: 14px;
font-family: 'Roboto';
font-weight: 500;
color: #4D5AE5;

background-color: #F4F4FD;
transition: .1s;

}

.filterBTN:hover{

padding: 1.5% 2.5%;
box-shadow: 2px 5px 5px -6px black,
      inset 0 0 5px -1px rgb(18, 28, 84);
color: #F4F4FD;
background-color: #4D5AE5;

}

/* catalog */

.container{

/* height: 100%; */
width: 100%;
/* display: grid; */

}

.sub-container{

height: 100%;
width: 85%;
margin: 5% auto;

display: grid;
grid-template-columns: 30% 30% 30%;
grid-template-rows: 30% 30% 30%;

row-gap: 3rem;
column-gap: 2rem;

justify-content: center;
align-items: center;

}

.catalog{

padding-bottom: 8%;

border: solid 1px #E7E9FC;

background-color: white;

}

.catalog:hover{

  padding: 0;
  box-shadow: 2px 5px 5px -6px black,
        inset 0 0 5px -1px rgb(18, 28, 84);
  color: rgb(239, 233, 250);
  background-color: rgb(49, 110, 251);

  .category{

    font-size: 0;

  }

}

.catalog-img{

height: 100%;
width: 100%;
border-radius: 2% 2% 0 0;

}

.title, .category{

font-size: 1.5rem;
font-weight: 500;

margin: 5% 0 2% 5%;

}

.category{

font-size: 1rem;
color: rgb(109, 104, 125);

}

/* FOOTER */
footer{

  height: 20rem;
  width: 100%;
  
  display: grid;
  grid-template-columns: 30% 28% 42%;
  column-gap: 0;
  align-items: center;
  
  background-color: #2E2F42;
  
  .container-4{
  
    height: 99%;
    width: 99%;
  
    display: block;
    align-content: space-around;
    }
  
      
  .logo.web-footer{
  
    font-family: 'Raleway';  
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 1px;
    color: #4D5AE5;
  
    .logo.studio-footer {
    
      font-family: 'Raleway';  
      font-size: 1.2rem;
      font-weight: 900;
      letter-spacing: 1px;
      color: #F4F4FD;
      
      }
  
  }
  
  .footer-txt{
  
    text-align: justify;
    color: #F4F4FD;
    line-height: 24px;
  
    
    height: 5em;
    width: 60%;
    max-width: 60%;
    
    
    margin: 5% 0;
  
  }
  
  .logo.web-footer,.footer-txt{
  
  margin-left: 30%;
  
  }
  
    .socials-footer{
    
  
      height:5rem;
      width: 80%;
      margin: 4% 0 8% 0;
  
      display: flex;
      flex-wrap: wrap;
      column-gap: 1rem;
      row-gap: 1rem;
      
      }
      
    .social-media{
    
    width: 25%;
    position: relative;
    
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #F4F4FD;
    
    }
  
  .social-media, .socials-footer{
  
    margin-left: 10%;
  
  }
    
    .subscribe{
  
    height:5rem;
    width: 80%;
    margin: 3% 0 6% 10%;
  
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
  
    align-content: center;
  
    .social-media:nth-of-type(2){
  
      margin-left: 0;
  
    }
  
    .email-subscribe{
    
      height: 40px;
      width: 45%;
      background: none;
      border: solid 1px #4D5AE5;
      border-radius: 4px;
      padding-left: 1rem;
    
    }
    
    .subscribeBTN{
    
      height: 40px;
    width: 160px;
    font-family: 'Roboto';
    font-size: 1rem;
    color: #F4F4FD;
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    
    border-style: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    
    }
    
    .plane-icon{
    
    height: 20px;
    width: 24px;
    margin: 0 1rem;
    
    }
      
    }
    
  }