*{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

p, span, h1, h2, h3, h4, h5{

  font-family: 'Roboto';

}

.nav-container:nth-child(3){

  width: fit-content;

}

main{

  height: 100%;
  width: 100%;
  
  }
  
  .socials{
  
  display: flex;
  justify-content: space-evenly;
  
  }
  
  .card-social-img{
  
    height: 2.5rem;
    width: 2.5rem;
    margin-top: 1rem;
    
    }

/* navigation bar vv */
header{

height: 75px;
width: 100%;

}

.navigation{

  background-color: #FFFF;
  box-shadow: 0 1px 5px -1.5px rgb(0, 0, 0);
  
  height: 75px;
  width: 100%;

  position: fixed;
  display: grid;

  grid-template-columns: 1% 30% 25% ;
  column-gap: 3.5rem;

  align-items: center;
  justify-content: space-evenly;

  z-index: 2;
  
  }

  .collapse{
  
  visibility: hidden;
  
  }
  
  .logo{
  
  font-family: 'Raleway';  
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 1px;
  
  }
  
  .logo.web {
  
  color: rgb(49, 110, 251);
  
  }
  
  .logo.studio {
  
  color: rgb(10, 0, 40);
  
  }
  
  .navMenu{
  
  font-size: 1rem;
  font-family: 'Roboto';
  font-weight: bold;

  margin-left: 10%;
  color: rgb(10, 0, 40);
  
  }
  
  .navMenu.link:hover{
  
  color: #4D5AE5;
  
  }
  
  .contacts{
  
    font-size: 0.9rem;
    font-weight: light;
    color: rgb(109, 104, 125);
  
    }

  .contacts:last-child{

    margin-left: 1%;

  }
  
  
  /* theme */
  
  .theme{
  
    border: 0;
    background-color: rgba(0, 0, 0, 0);
  
  }
  
  #themeBTN{
  
    height: 20px;
    width: 20px;
  
    background-color: rgb(20, 18, 24);
    border-radius: 100%;
  
  }
  
  /* them btn*/
  
/* md size */
@media screen and (max-width: 1400px) {
    
  .nav-container{

    width: 0%;
  
  }
  
  .nav-container:nth-child(2){
  
  width: 15%;
  
  }
  
  .nav-container:nth-child(3){
  
    width: 20%;
    
    }

  .navMenu{

    font-size: 15px;
    margin: .5%;
  
  } 

  .contacts{

    font-size: 12px;
    margin: 0;

  }

}

@media screen and (max-width: 1200px) {
    
  .nav-container{

    width: 0%;
  
  }
  
  .nav-container:nth-child(2){
  
  width: 15%;
  margin-left: 1%;
  
  }
  
  .nav-container:nth-child(3){
  
    width: 20%;
    
    }

  .navMenu{

    font-size: 12px;
    margin: .5%;
  
  } 

  .contacts{

    font-size: 10px;
    margin: 0;

  }

}
  
@media screen and (max-width: 1000px) and (min-width: 801px)  {
    
  .nav-container{

    width: 0%;
  
  }
  
  .nav-container:nth-child(2){
  
  width: 15%;
  margin-left: 1%;
  
  }
  
  .nav-container:nth-child(3){
  
    width: 20%;
    
    }

  .logo{

    font-size: 13.5px;
    /* margin-right: 0 10%; */
  
  }

  .navMenu{

    font-size: 10px;
    /* margin: 24.5%; */
  
  } 

  .contacts{

    font-size: 8px;
    margin: 0;

  }

}

/* tablet size */
@media screen and (max-width: 800px) {
  
  .navMenu{

    display: none;

  }

  .contacts{

    display: none;

  }

  .collapse{

    visibility: visible;
    float: right;
    /* padding: 10px; */
    /* clear: right; */

  }

  .theme{

    border: 0;
    margin-right: 5%;
    background-color: rgba(0, 0, 0, 0);
    float: right;
    clear: right;

  }

}

/* navigation bar ^^ */

/* article */

article{

height: 100%;
width: 100%;
display: block;
justify-content: center;
align-items: center;

}

/* Filter*/

.filter{

height: 5rem;
width: 100%;
margin: 5% 0;
top: 0;

position: sticky;
display: flex;
column-gap: 20px;
justify-content: center;
align-items: center;

}

.filterBTN{

height: auto;
width: auto;
padding: 1% 2%;

border: solid 1px #E7E9FC;
border-radius: 5%;

font-size: 14px;
font-family: 'Roboto';
font-weight: 500;
color: rgb(49, 110, 251);

background-color: rgb(239, 233, 250);
transition: .1s;

}

.filterBTN:hover{

padding: 1.5% 2.5%;
box-shadow: 2px 5px 5px -6px black,
      inset 0 0 5px -1px rgb(18, 28, 84);
color: rgb(239, 233, 250);
background-color: rgb(49, 110, 251);

}

/* catalog */

.container{

/* height: 100%; */
width: 100%;
/* display: grid; */

}

.sub-container{

height: 100%;
width: 85%;
margin: 5% auto;

display: grid;
grid-template-columns: 30% 30% 30%;
grid-template-rows: 30% 30% 30%;

row-gap: 3rem;
column-gap: 2rem;

justify-content: center;
align-items: center;

}

.catalog{

padding-bottom: 8%;

border: solid 1px #E7E9FC;

background-color: white;

}

.catalog:hover{

  padding: 0;
  box-shadow: 2px 5px 5px -6px black,
        inset 0 0 5px -1px rgb(18, 28, 84);
  color: rgb(239, 233, 250);
  background-color: rgb(49, 110, 251);

  .category{

    font-size: 0;

  }

}

.catalog-img{

height: 100%;
width: 100%;
border-radius: 2% 2% 0 0;

}

.title, .category{

font-size: 1.5rem;
font-weight: 500;

margin: 5% 0 2% 5%;

}

.category{

font-size: 1rem;
color: rgb(109, 104, 125);

}

/* FOOTER */


footer{

  height: 20rem;
  width: 100%;
  
  display: flex;
  /* grid-template-columns: 25rem 25rem; */
  column-gap: 1rem;
  justify-content: start;
  align-items: center;
  
  background-color: #2E2F42;
  
  }
  
  .container-4{

  height: 25%;
  margin-left: 10rem;
    
  display: block;
  justify-content: center;
  align-items: center;
    
  }
    
  .container-4:last-child{
    
  margin-left: 7rem;
    
  }
  
  .logo.web-footer{
  
  color: rgb(49, 110, 251);
  
  }
  
  .logo.studio-footer {
    
    color: #F4F4FD;
    
    }
  
  .footer-txt{
  
    text-align: justify;
    color: #F4F4FD;
    width: 16rem;
  
    margin: 5% 0;
  
  }
  
  .card-social-link{
  
  color: #F4F4FD;
  height: 4rem;
  width: 18rem;
  /* background-color: aquamarine; */
  
  display: grid;
  justify-content: center;
  align-items: first baseline;
  
  }
  
  .socials:nth-child(2){
  
    display: flex;
    justify-content: space-between;
    
    }
    
  .social-media{
  
    width: 15rem;
  font-size: 1rem;
  font-weight: medium;
  
  }