*{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

p, a, span, h1, h2, h3, h4, h5, h6{

  font-family: 'Roboto';

}

.title{

  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(10, 0, 40);
  
  margin: 5% 0;
  
  }

.socials{

display: flex;
justify-content: space-evenly;

}

.card-social-img{

  height: 2.5rem;
  width: 2.5rem;
  margin-top: 1rem;
  
  }

/* navigation bar vv */
header{

height: 5rem;
width: 100%;

background-color: #FFFF;
box-shadow: 0 1px 5px -1.5px rgb(0, 0, 0);

position: static;
display: grid;
grid-template-columns: 20% 40% 40%;
justify-content: center;

z-index: 1;

}
  
  .logo{
    
  height: 100%;
  align-content: center;
  text-align: end;

  }
  
  .web {
  
  font-family: 'Raleway';  
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 1px;
  color: #4D5AE5;
  
  }
  
  .studio {
  
  font-family: 'Raleway';  
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 1px;
  color: #2E2F42;
  
  }
  
  .navMenu{

  margin-left: 3rem;

  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2rem;

  justify-content: start;
  align-items: start;
  text-align: center;

}

.link{

  font-size: 1.1rem;
  font-weight: bold;
  
  height: 100%;
  width: auto;
  margin-top: 2rem;

  color: #2E2F42;

  }

._{

height: .3rem;
margin-top: 1rem;
border-radius: 5rem;
background-color: #4D5AE5;

opacity: 0;

}

.link:nth-of-type(2),._:nth-of-type(2){

  color: #4D5AE5;
  opacity: 100%;

}

.link:hover{
  color: #4D5AE5;
}
  
  .contacts{
    
    margin: 0 .5rem;

    font-size: 1rem;
    font-weight: medium;
    color: #434455;

    align-content: center;
    text-align: center;

    }


/* navigation bar ^^ */

/* Filter*/

.filter{

height: 5rem;
width: 100%;
margin: 2% 0;
top: 5px;

position: static;
display: flex;
column-gap: 20px;
justify-content: center;
align-items: center;

}

.filterBTN{

height: 4rem;
width: auto;
padding: 1% 2%;

border: solid 1px #E7E9FC;
border-radius: 5%;

font-size: 1rem;
font-family: 'Roboto';
font-weight: 600;
letter-spacing: 1px;
color: #4D5AE5;

background-color: #F4F4FD;
transition: .1s;

}

.filterBTN:hover{

padding: 1.5% 2.5%;
box-shadow: 2px 5px 5px -6px black,
      inset 0 0 5px -1px rgb(18, 28, 84);
color: #F4F4FD;
background-color: #404BBF;

}

/* catalog */

.container{

  height: 100%;
width: 100%;
margin-bottom: 10%;
display: grid;

}

.sub-container{

width: 100%;
margin: 2% auto;

display: flex;
flex-wrap: wrap;

column-gap: 2rem;
row-gap: 2rem;
justify-content: center;
align-items: center;

}

.catalog{

height: 420px;
width: 380px;
border-radius: 6px;


border: solid 1px #E7E9FC;
background-color:#F4F4FD;

}

.catalog:hover{

  height: 400px;
  box-shadow: 2px 5px 5px -6px black,
        inset 0 0 5px -1px rgb(18, 28, 84);
  background-color: rgb(49, 110, 251);

  .category{
  color:#F4F4FD;
  }

}

.catalog-img{

height: 70%;
width: 100%;
border-radius: 4px 4px 0 0;

}

.title, .category{

font-size: 1.5rem;
font-weight: 500;

margin: 5% 0 2% 5%;

}

.category{

font-size: 1rem;
color: rgb(109, 104, 125);

}

/* FOOTER */
footer{

  height: 20rem;
  width: 100%;
  
  display: grid;
  grid-template-columns: 30% 28% 42%;
  column-gap: 0;
  align-items: center;
  
  background-color: #2E2F42;
  
  .container-4{
  
    height: 99%;
    width: 99%;
  
    display: block;
    align-content: space-around;
    }
  
      
  .logo.web-footer{
  
    font-family: 'Raleway';  
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 1px;
    color: #4D5AE5;
  
    .logo.studio-footer {
    
      font-family: 'Raleway';  
      font-size: 1.2rem;
      font-weight: 900;
      letter-spacing: 1px;
      color: #F4F4FD;
      
      }
  
  }
  
  .footer-txt{
  
    text-align: justify;
    color: #F4F4FD;
    line-height: 24px;
  
    width: 60%;
    margin: 5% 0;
  
  }
  
  .logo.web-footer,.footer-txt{
  
  margin-left: 30%;
  
  }
  
    .socials-footer{
    
  
      height:5rem;
      width: 80%;
      margin: 4% 0 8% 0;
  
      display: flex;
      flex-wrap: wrap;
      column-gap: 1rem;
      row-gap: 1rem;
      
      }
      
    .social-media{
    
    width: 25%;
    position: relative;
    
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #F4F4FD;
    
    }
  
  .social-media, .socials-footer{
  
    margin-left: 10%;
  
  }
    
    .subscribe{
  
    height:5rem;
    width: 80%;
    margin: 3% 0 6% 10%;
  
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
  
    align-content: center;
  
    .social-media:nth-of-type(2){
  
      margin-left: 0;
  
    }
  
    .email-subscribe{
    
      height: 40px;
      width: 45%;
      background: none;
      border: solid 1px #4D5AE5;
      border-radius: 4px;
      padding-left: 1rem;
    
    }
    
    .subscribeBTN{
    
      height: 40px;
    width: 160px;
    font-family: 'Roboto';
    font-size: 1rem;
    color: #F4F4FD;
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    
    border-style: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    
    }
    
    .plane-icon{
    
    height: 20px;
    width: 24px;
    margin: 0 1rem;
    
    }
      
    }
    
  }
  
  /* tablet */
  @media screen and (max-width: 900px) and (min-width: 720px) {
  
    header{
      grid-template-columns: 20% 60% 20%;
    }
    .navMenu{
      justify-content: center;
    }
    .contacts{ 
      font-size: 12px;
      font-weight: 400;
      color: #434455;
      }

      .filterBTN{
        height: 3rem;
      }

    footer{
    height: 456px;
    align-items:normal;
    display: grid;
    grid-template-columns: 50% 50%;
  
    }
  
    .container-4{
  
      margin: 5% 0;
      display: grid !important;
      
      justify-content: right !important;
      align-content: center !important;
      
        .logo.web-footer{
  
          margin: 0;
          text-align: start;
  
        }
      
      .footer-txt{
      
        margin: 5% 0;
        height: 5em;
        width: 16rem;
        max-width: 25rem;
        text-align: justify;
      
      }
  
    }
  
    .container-4:nth-of-type(2){
  
      justify-content: left !important;
      align-items: center;
      width: 95%;
      
      .social-media{
  
        width: 99% !important;
        text-align:start !important;
        font-size: 1rem !important;
      
      }
  
      .socials-footer{
        display: flex;
        width: 100%;
        justify-content: start !important;
        margin:  5% 0 0 10% !important;
      }
      
    }
  
    .container-4:nth-of-type(3){
  
      height: auto;
      grid-column: 1;
      grid-row: 2;
      width: 95vw;
      justify-content: center !important;
  
      .subscribe{
        width: 32rem !important;
        margin: 0 !important; 
      }
      .email-subscribe{
        width: 15rem;
      }
  
      .social-media{
  
  
        text-align: start !important;
        width: 80% !important;
        font-size: 1rem !important;
        margin: 0 !important; 
      
      }
  
    }
  
  }

  /* phone */

  @media screen and (max-width: 719px){

    .logo{
      margin-left: 20%;
    }
    .navMenu{
      display: none;
    }
    .contacts{
      display: none;
    }

    .filter{
      flex-wrap: wrap;
      row-gap: 1rem;
      margin:0 0 20% 10%;
      justify-content: start !important;
      align-items: start !important;
    }

    .filterBTN{
      height: 3rem;
      width: 6rem;
    }
    
    footer{
      height: 664px;
      grid-template-columns: 100%;
      grid-template-rows:20% 20% 25%;
    
      justify-content: center;
      align-items: center;
      align-content: center;
    }
    
    .container-4{
    
      height: 2rem ;
      border: solid 2px green;
      display: flex !important;
      flex-direction: column;
      justify-content: center !important;
      align-items: center !important;
    
    }
    
    .footer-txt{
      border: solid 2px rgb(155, 50, 23);
      margin: 2% !important;
      width: 18rem !important;
    }
    
    .logo, .logo.web-footer, .social-media, .socials-footer, .subscribe{
      height: auto;
      width: 100% !important;
      text-align: center;
      justify-content: center;
      margin: 0 !important;
      border: solid 2px rgb(155, 50, 23);
    
    }
    
    .email-subscribe{
      margin-top: 3rem;
      width: 92% !important;
    }
    
    }