*{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

p, a, span, h1, h2, h3, h4, h5, h6, label{

  font-family: 'Roboto';

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus{

outline-color: #3848fc !important;

}

textarea:focus{

  outline-color: #3848fc !important;

}

.title{

  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(10, 0, 40);
  
  margin: 5% 0;
  
  }

.socials{

display: flex;
justify-content: space-evenly;

}

.card-social-img{

  height: 2.5rem;
  width: 2.5rem;
  margin-top: 1rem;
  
  }

.navContainer{
  display: none;
}
/* navigation bar vv */
header{

height: 5rem;
width: 100%;

background-color: #FFFF;
box-shadow: 0 1px 5px -1.5px rgb(0, 0, 0);

position: fixed;
display: grid;
grid-template-columns: 20% 40% 40%;
gap: 0;
justify-content: center;
z-index: 1;
}
  
  .logo{
    
  height: 100%;
  align-content: center;
  text-align: end;

  }
  
  .web {
  
  font-family: 'Raleway';  
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 1px;
  color: #4D5AE5;
  
  }
  
  .studio {
  
  font-family: 'Raleway';  
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 1px;
  color: #2E2F42;
  
  }
  
  .navMenu{

  margin-left: 3rem;

  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2rem;

  justify-content: start;
  align-items: start;
  text-align: center;

}

.link{

  font-size: 1.1rem;
  font-weight: bold;
  
  height: 100%;
  width: auto;
  margin-top: 2rem;

  color: #2E2F42;

  }

._{

height: .3rem;
margin-top: 1rem;
border-radius: 5rem;
background-color: #4D5AE5;

opacity: 0;

}

.link:nth-of-type(1),._:nth-of-type(1){

  color: #4D5AE5;
  opacity: 100%;

}

.link:hover{
  color: #4D5AE5;
}
  
  .contacts{
    
    margin: 0 .5rem;

    font-size: 1rem;
    font-weight: medium;
    color: #434455;

    align-content: center;
    text-align: center;

    }




/* navigation bar ^^ */

/* hero section vv */

.hero-section{

height: 80dvh;
width: 100%;

background-image: url("./images/hero-section.png");
background-size:cover;

position: static;
}

.hero-section-bg{

background-color: rgba(46,47,66, 0.7);
height: 80vh;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;

}

.hero-section-bg h1{

  height: 135px;
  width: 496px;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 70px;
  color: #F4F4FD;
  text-align: center;
}

.hero-section-btn{
background-color: #4D5AE5;
margin-top: 1rem;
padding: 20px 3em;

border: 0;
border-radius: 4px;
box-shadow: 0 0 4px -2px rgb(0, 0, 0);

font-size: 1rem;
font-weight: 500;
color: rgb(239, 233, 250);

transition: .1s;

}

.hero-section-btn:hover{

  background-color: #3848fc;

}

/* hero section ^^ */

/* Order service form */

.form-section{
  
  height: 100vh;
  width: 100%;
  top: 0;

  background-color: rgba(46,47,66, 0.7);

  position: fixed;
  display:flex;
  justify-content: center;
  align-items: center;

  z-index: 1;

}

.form-order-service{


font-family: 'Roboto';
font-size: 400;

height: 35rem;
width: 25rem;

margin-top: 1%;


z-index: 2;

background-color: #FCFCFC;
border-radius: 4px;
box-shadow: 1px 1px 5px .0px black;

position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 0;

animation: pop-up .2s 1;

#closeBTN{

  height: 24px;
  width: 22px;
  margin: 2rem 2.5rem 0 0; 
  
  display: grid;
  justify-content: center;
  align-content: center;
  align-self: self-end; 
  
  color: #2E2F42;
  background-color: #E7E9FC; 
  border: solid 1px rgba(0, 0, 0, 10%);
  border-radius: 100%;
  
  .closeBTN-img{

    height: 8px;
    width: 8px;

  }

}

#closeBTN:hover{

  background-color: rgba(67, 68, 85, 50%);

}

.notice{

  font-weight: 500;
  margin: 1rem 0 1rem 0;
}

.checkbox{
  top: 0;
  margin: 0;
  height: 1rem;
  width: 1rem;

}

.terms{
  animation: pop-up .2s 1;
align-content: center;
text-align: start;
font-size: 12px;

  .terms-link{

    text-decoration: underline;
    color: #3848fc;

  }

}

.form-to-fill{
  animation: pop-up .2s 1;
  color: #8E8F99;
  height: 4rem;
  width: 85%;
  margin: .2rem 0;
  
  display: grid;
  grid-template-rows: 1rem auto;
  gap: .1rem;

  label{
    animation: pop-up .2s 1;
    font-family: "Roboto";
    font-size: .8rem;
    font-weight: 400;

  }

  .user{
    animation: pop-up .2s 1;
    background: none;
    border: solid 1px #8E8F99;
    border-radius: 4px;
    padding-left: 2.3rem;

  }
  
  .user.icon-1{
    background: url("./images/input-icons/person-icon.png") no-repeat;
    background-size: 12px 12px;
    background-position: 1rem;
  }

  .user.icon-2{
    background: url("./images/input-icons/telephone-icon.png") no-repeat;
    background-size: 18px 24px;
    background-position: .8rem;
  }

  .user.icon-3{
    background: url("./images/input-icons/mail-icon.png") no-repeat;
    background-size: 18px 24px;
    background-position: .8rem;
  }

}
  
  .form-to-fill:nth-of-type(5){
  
  grid-template-columns: auto auto;
  margin-top: 1rem;
  
  }
  
  .form-to-fill:nth-of-type(4){

    height: 10rem;
    max-height: 10rem;
    
    .commentBox{

      padding: .5em;
      resize: none;

    }
    
  }
  
  .send-form{

    height: 56px;
    width: 169px;
    margin-bottom: 1rem;

    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 500;
    color: #F4F4FD;

    background-color: #3848fc;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px -2px black;

  }

}


@keyframes pop-up{

  from{height: 0; width: 0;}
  to {height: 95%; width: 25%;}


}



/* v section 1 v */

.container-1{
  height: 100%;
  width: 100%;
  margin: 10% 0 15% 0;
  display: grid;
}

.sub-container-3{

  height: 100%;
  margin: 0 10%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5rem;
  row-gap: 15rem;
  justify-content: space-evenly;
  align-items: center;

}


.des{

text-align: justify;
line-height: 24px;
color: rgb(10, 0, 40);

height: 2rem;
width: 14rem;
margin-bottom: 10%;

display: grid;
column-gap: 0;
align-items: center;

}

.core-img{

  height: 9rem;
  width: 17rem;
  margin-bottom: 1rem;
  
  background-color: #E7E9FC;
  border-radius: 2%;
  
  display: grid;
  align-items: center;
  justify-content: center;
  
  }
  
  .core-value-img{
  
  height: 5rem;
  width: 5rem;
  
  }

.h{
  text-align: center;
font-weight: bold;
margin-bottom: 5%;

}

.t{

font-size: 1rem;
color: #434455;

}

/* ^ section 2 ^ */

.container-2{
  
  height: 100%;
  width: 100%;
  margin: 10% 0;
  font-weight: bolder;
  text-align: center;
  
  display: grid;
  justify-content: center;
  align-items: center;

}

.sub-container{

height: 100%;
display: flex;
flex-wrap: wrap;
column-gap: 1rem;
row-gap: 1rem;
justify-content: space-evenly;
align-items: center;


}

.section-two-image{

height: 20rem;
width: 25rem;

}

/* Section 3 */

.container-3{

  height: 100%;
  width: 100%;
  margin: 10% 0 0 0;
  padding: 5% 0;

  display: block;
  justify-content: center;
  align-items: center;

  background-color: #F4F4FD;

  text-align: center;

}

.sub-container-2{

height: 100%;
width: 100%;

display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;

}
  
.feature{

height: 27rem;
width: 18rem;
margin: 2% 1%;
background-color: white;
border-radius: 4px ;
box-shadow: 1.2px 1.5px 2px -2px black;

}  

.feature-img{

border-radius: 4px 4px 0 0 ;
height: 17rem;
width: 18rem;

}

.name{

font-size: 1.2rem;
font-weight: medium;
color: #2E2F42;

margin: 1rem 0 3% 0;

}

.role{

font-size: 1rem;
font-weight: light;
color: #434455;

}

/* Section-4 */

.container-5{

height: 100%;
margin: 5%;

text-align: center;

display: grid;
grid-template-rows: auto auto;
justify-content: center;
align-items: center;

}

.customer-source{

margin: 0 .5em;
width: 11.5rem;

}

/* FOOTER */

footer{

height: 20rem;
width: 100%;

display: grid;
grid-template-columns: 30% 28% 42%;
column-gap: 0;
align-items: center;

background-color: #2E2F42;

.container-4{

  height: 99%;
  width: 99%;

  display: block;
  align-content: space-around;
  }

    
.logo.web-footer{

  font-family: 'Raleway';  
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 1px;
  color: #4D5AE5;

  .logo.studio-footer {
  
    font-family: 'Raleway';  
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 1px;
    color: #F4F4FD;
    
    }

}

.footer-txt{

  text-align: justify;
  color: #F4F4FD;
  line-height: 24px;

  width: 60%;
  margin: 5% 0;

}

.logo.web-footer,.footer-txt{

margin-left: 30%;

}

  .socials-footer{
  

    height:5rem;
    width: 80%;
    margin: 4% 0 8% 0;

    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    
    }
    
  .social-media{
  
  width: 25%;
  position: relative;
  
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: #F4F4FD;
  
  }

.social-media, .socials-footer{

  margin-left: 10%;

}
  
  .subscribe{

  height:5rem;
  width: 80%;
  margin: 3% 0 6% 10%;

  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;

  align-content: center;

  .social-media:nth-of-type(2){

    margin-left: 0;

  }

  .email-subscribe{
  
    height: 40px;
    width: 45%;
    background: none;
    border: solid 1px #4D5AE5;
    border-radius: 4px;
    padding-left: 1rem;
  
  }
  
  .subscribeBTN{
  
    height: 40px;
  width: 160px;
  font-family: 'Roboto';
  font-size: 1rem;
  color: #F4F4FD;
  text-align: center;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  
  border-style: none;
  border-radius: 4px;
  background-color: #4D5AE5;
  
  }
  
  .plane-icon{
  
  height: 20px;
  width: 24px;
  margin: 0 1rem;
  
  }
    
  }
  
}

/* tablet */
@media screen and (max-width: 900px) and (min-width: 720px) {

  header{
    grid-template-columns: 20% 60% 20%;
  }
  .navMenu{
    justify-content: center;
  }
  .contacts{ 
    font-size: 12px;
    font-weight: 400;
    color: #434455;
    }

    .hero-section{

      height: 50vh;
      
      background-image: url("./images/hero-section.png");
      background-size:cover;
      
      position: static;
      }

  .hero-section-bg{
    height: 50vh;

font-size: 2rem;
font-weight: 500;
  }

  .hero-section-btn{

padding: 20px 2em;


  }


.sub-container-3{
  margin: 2% 1%;
  row-gap: 5rem;
  justify-content: start;
  .des{
    width: 42%;
    align-items: start;
    text-align: left;
    .h{
      font-size: 2rem;
      font-weight: 700;
      text-align: left;
    }
    .t{
    font-weight: 500;
    }

  }

}
.core-img{

  display: none;

}

.container-2{
  display: none;
}

  footer{
  height: 456px;
  align-items:normal;
  display: grid;
  grid-template-columns: 50% 50%;

  }

  .container-4{

    margin: 5% 0;
    display: grid !important;
    
    justify-content: right !important;
    align-content: center !important;
    
      .logo.web-footer{

        margin: 0;
        text-align: start;

      }
    
    .footer-txt{
    
      margin: 5% 0;
      height: 5em;
      width: 16rem;
      max-width: 25rem;
      text-align: justify;
    
    }

  }

  .container-4:nth-of-type(2){

    justify-content: left !important;
    align-items: center;
    width: 95%;
    
    .social-media{

      width: 99% !important;
      text-align:start !important;
      font-size: 1rem !important;
    
    }

    .socials-footer{
      display: flex;
      width: 100%;
      justify-content: start !important;
      margin:  5% 0 0 10% !important;
    }
    
  }

  .container-4:nth-of-type(3){

    height: auto;
    grid-column: 1;
    grid-row: 2;
    width: 95vw;
    justify-content: center !important;

    .subscribe{
      width: 32rem !important;
      margin: 0 !important; 
    }
    .email-subscribe{
      width: 15rem;
    }

    .social-media{


      text-align: start !important;
      width: 80% !important;
      font-size: 1rem !important;
      margin: 0 !important; 
    
    }

  }

}

/* phone */

@media screen and (max-width: 719px){

  header{

    grid-template-columns: 85% 10%;
    align-content: center;
  }

.logo{
  text-align: start !important;
}
.navMenu{
  display: none;
}
.contacts{
  display: none;
}

.collapse{

  height: 100%;
  width: 4rem;
  font-size: 3rem;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  line-height: 10px;
  color: #2E2F42;
  gap: 0;

  cursor: pointer;
  transition: .1s;
}

.collapse:hover{
  color: #4D5AE5;
}

.navMenu-container{
  height: 100vh;
  width: 100%;
  right: 0;

  background-color: #F4F4FD;
  
  position: fixed;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 50% 45% 20%;

  z-index: 1;
  animation: menu-open .5s 1;

  .menu-icon{
    display: none;
  }
  #closeMenu{
    height: 24px;
    width: 24px;
    margin: 2rem 0 0 90%;
    display: flex;
    justify-content: center; 
    align-items: center;
    
    color: #2E2F42;
    background-color: #E7E9FC; 
    border: solid 1px rgba(0, 0, 0, 10%);
    border-radius: 100%;
    .close-icon{
      height: .7rem;
      width: .7rem;
    }
  }

  #closeMenu:hover{
    background-color: #8E8F99;
  }

}

.navMenu-mobile{
  display: flex !important;
  flex-direction: column;
  gap: 0;
  margin-left: 1rem;

  .link{
    font-size: 36px;
    font-weight: 600;
    height: auto;
    width: 100%;
    margin: 0.5em !important;
  }
}
.contacts-mobile{
  display: grid !important;
  grid-template-columns: 25rem;
  margin:0 1rem ;
  .contacts-mobile.num{
    font-size: 36px;
    font-weight: 700;
    color: #3848fc;
    align-items: center;
  }
  .contacts-mobile:nth-of-type(2){
    font-size: 20px;
    font-weight: 500;
  }
}

.socials-footer-mobile{
  height:5rem;

  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
  align-items: center;
}

.hero-section{

  height: 432px;
  
  background: url("./images/hero-section.png") no-repeat;
  background-size: cover;
  background-position: auto;
  
  position: relative;
  .hero-section-bg{
    width: auto;
    height: 432px;

    }

    .hero-section-bg h1{
      width: 20rem;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 3rem ;
      letter-spacing: 1px;

      }
      .hero-section-btn{
        height: 3rem;
        width: 10rem;
        margin: 0;
        padding: 0;
      }
  }

.container-2{
  display: none;
}

.container-1{

  margin: 30% 0;
  .sub-container-3{
    row-gap: 8rem;
  }
    .core-img{
    display: none;
    row-gap: 0;
    }
    .des{
    width: 100%;
    align-items: center;
    text-align: justify;
      .h{
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
    }
  }

.container-3{

margin: 50% 0;

  }

}

.container-3{
margin: 20% 0;
}

section.container-5 div{
  margin: 10%;
display: grid;
grid-template-columns: auto auto;
align-items: center;
justify-content: center;
}

footer{
  height: 664px;
  grid-template-columns: 100%;
  grid-template-rows:20% 20% 25%;

  justify-content: center;
  align-items: center;
  align-content: center;
}

.container-4{

  height: 2rem ;
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;

}

.logo.web-footer{
  margin: 0 !important;
  text-align: center;
}

.footer-txt{
  margin: 2% !important;
  width: 18rem !important;
}

.social-media, .socials-footer, .subscribe{
  height: auto;
  width: 100% !important;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin: 0 !important;
}

.email-subscribe{
  margin-top: 3rem;
  width: 92% !important;
}

}

@keyframes menu-open {
  
  from{right: 0; width: 0;}
  t0{right: 20%; }
  t0{right: 40%; }
  t0{right: 100%; }
  
}

.navMenu-container-close{
  height: 100vh;
  width: 100%;
  left: 0;
  background-color: #F4F4FD;
  position: fixed;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 50% 45% 20%;

  animation: menu-close .5s 1;
}
@keyframes menu-close {
  
  0%   {left: 0px;}
  75%  {left: 500px}
  
}